#app {
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: 51.25% 48.75%; /* Define column widths */
  
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

main {
  overflow: auto; /* Enable scrolling for main content */
  padding: 4rem; /* Add padding around the main content */

  & .main-container {
    max-width: 33rem; /* Set a maximum width for the main container */
    margin-left: auto; /* Center the main container horizontally */
  }

  & .back {
    display: flex; /* User Flex to put the elments in a row */
    align-items: center; /* Center items vertically */
    gap: 0.5rem; /* Add space between the back icon and text */
    margin-bottom: 1.5rem; /* Add space below the back button */
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family); /* Set font for h1 */
    margin-bottom: 0.5rem; /* Add space below the heading */
  }
}

aside {
  background-color: var(--surface-secondary); /* Set background color for aside */
  padding: 4rem; /* Add padding around the aside content */

  & .aside-container {
    max-width: 33rem; /* Set a maximum width for the aside container */
  }

  & > img {
    margin-top: 2rem; /* Add space above the image */
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family); /* Set font for h2 */
    margin-bottom: 0.5rem; /* Add space below the heading */

    & span {
      color: var(--text-highlight); /* Set color for highlighted text */
    }
  }
}